<div class="disc-box nested-fields" style="margin-bottom:7px;">
    <label>ディスク</label><br>
    <div class="col-xs-5">曲名</div>
    <div class="col-xs-5">アーティスト</div>
    <div class="col-xs-2"></div>
    <div id="songs">
        <%= f.fields_for :songs do |song| %>
            <%= render 'song_fields', f: song %>
        <% end %>
        <div class="links" style="text-align:center;">
            <%= link_to_add_association "曲を追加", f, :songs, class: "btn btn-primary", :style=>"width:120px;" %>
            <%= link_to_remove_association "ディスクを削除", f, class: "btn btn-danger", :style=>"width:120px;" %>
        </div>
    </div>
</div>
