<div class="container">
  <div class="row">
<!-- sidebar  ここから -->
    <div class="col-sm-3">
    <%= render partial: "layouts/adminsidebar" %>
        <div class="side-box">

<!-- ここにサイドバーの下の部分の中身 -->

        </div>
      </div>
<!-- sidebar  ここまで -->
      <div class="col-sm-9">

<!-- ここに中身 -->

    </div><!-- col-sm-9 -->
  </div><!-- row -->
</div><!-- container -->