<div class = "container">
  <div class = "row">
    <div class = "col-sm-8 col-sm-offset-2">
      <h2 class="text-center">注文完了</h2>
      <h3 class="text-center" style="margin-bottom:50px;">お申し込みいただき、ありがとうございます。</h3>
      <div class="text-center" style="margin-bottom:20px;"><%= image_tag 'shop.jpg',size: '500x340'%></div>

      <div class="box">
      <strong>ご注文は確かに承りました。</strong>
      <p>ご注文の商品のお届けまで、今しばらくお待ちいただけますようよろしくお願い申し上げます。</p>
      </div>
      <p style="text-align:center;"><%= link_to " トップページに戻る ", items_path, class: 'btn btn-default' %></p>
    </div>
  </div>
</div>
        
