<div class = "container title">
  <div class = "row">
    <div class = "col-xs-3"></div>
    <div class = "col-xs-6" style="text-align:center;">
      <h2>注文完了</h2>
    </div>
    <div class ="col-xs-3"></div>
  </div>
  <div class = "row">
    <div class=" col-xs-3"></div>
    <div class = "col-xs-6">
      <h3 style="margin-bottom:50px;">お申し込みいただき、ありがとうございます。</h3>



      <strong>ご注文は確かに承りました。</strong>
      <p style="margin-bottom:50px;">ご注文の商品のお届けまで、今しばらくお待ちいただけますようよろしくお願い申し上げます。</p>
      <p style="text-align:center;"><%= link_to " トップページに戻る ", items_path, class: 'btn btn-default' %></p>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>
        
