<div class = "container">
  <div class = "row">
    <div class="col-xs-8 col-xs-offset-2" style="text-align:center;">
    <table class="table">
      <thead><tr><th>商品名</th><th>個数</th><th></th></tr></thead>
      <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr><td><%= cart_item.item.album %></td>
      <td><%= cart_item.count %></td>
      <td><%= link_to "削除", cart_item_path(cart_item), method: :delete %></td></tr>
      <% end %>
      <tr><td colspan="3"><%= link_to "会計に進む", new_end_user_order_path(current_end_user) %></td></tr>
      </tbody>
    </table>
    </div>
  </div>
</div>