<h2>Topページ</h2>
<div class="container clearfix">
    <div class="row production">
    <!-- ここからジャケット写真 -->



    <%= @results.each do |items| %>
        <div class="col-xs-4 image1">
            <%= attachment_image_tag items, :image, :fill, 100, 100, fallback: "no_image.jpg", size:"100x100", class: "images"%>
            <p><%= items.album %></p>
    <% end %>




    <!-- ここまでジャケット写真 -->
    </div>
</div>

<!-- ページネイション -->
