<h3>メニュー</h3>
  <div class = "sidebar">
    <ul>
      <li></li>
      <li><%= link_to "Myいいね", likes_path %></li>
      <li></li>
      <li><%= link_to "注文履歴", end_user_orders_path(current_end_user) %></li>
      <li></li>
      <li><%= link_to "登録情報編集", end_user_path(current_end_user) %></li>
      <li></li>
    </ul>
  </div>
