<div class="container">
  <div class="row">
<%# <!-- sidebar  ここから --> %>
    <div class="col-sm-3">
    <%= render "layouts/adminsidebar" %>
    </div>
<%# <!-- sidebar  ここまで --> %>
    <div class="col-sm-9">
      <h2>新規税率</h2>
      <div class="box">
    <%= render 'form'%>
    
      </div>
    </div>
  </div>
</div>