/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix{
	content::after{
	content:"";
    display: block;
    clear: both;
	}
}

li {
	list-style: none;
}

.sidebar {
	border: 1px solid rgba(0,0,0,.4);
	width: 100%;
}


// アイテム一覧
.item-box{
	text-align: center;
	border-radius: 20px;
	padding: 10px 0;
	transition: 1s;
	margin-bottom: 15px;
	color: black;
	&:hover{
		background-color: rgba(0,0,0,1);
		color: #fff;
	}
	// 商品詳細情報
	.item-text{
		border-bottom: 1px solid white;
	}
}
// 商品画像（ジャケ写）
.image-box{
	background-color: white;
	display: inline-block;
	padding: 2px;


}









// フッター
// footer{
// 	width: 100%; /*横幅*/
// 	height: 120px; /*高さ*/
// 	text-align: center;
// 	padding: 50px 0;
// 	background-color: black;
// 	position: absolute;
// 	color: white;
// 	bottom: 0;
// 	height: 5em;


// 	text-align: center;
// 	background-color: black;
// 	background-size: cover;
// 	background-position: center;
// 	background-image: url(iOS4.jpg);
// 	color: #fff;
// 	margin-bottom: 20px;
// 	a{
// 		color: #fff;
// 		&:hover{
// 			color: #fff;
// 		}
// 	}
// }
