// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 // ＊＊＊＊＊ヘッダー＊＊＊＊＊
 header {
	 background-color: rgba(0,0,0,.6);
	 color: white;
	 margin-bottom: 20px;
	 a {
		 color: white;
		 &:hover {
			 color: white;
		 }
	 }
 }
 
 
 .head-center {
	 text-align: center;
	 h1 {
		 font-size:2.2em;
		 font-family: 'arial black'; 
		 text-shadow: 3px 3px 6px black; 
	 }
	 .search-box {
		 background-color: white;
		 border-radius: 13px;
		 padding: 4px;
		 margin-bottom: 7px;
		 width:100%;
		 input {
			 padding: 3px;
			 outline: none;
			 background-color: white;
			 border: none;
			 color: black;
			 &:-webkit-autofill {
				 box-shadow: 0 0 0px 1000px white inset;
			 }
		 }
		 .search-form {
			 margin-right: 60px;
			 width:auto;
			 input{
				 width: 100%;
			 }
		 }
		 .search-btn {
			 width: 60px;
			 float: right;
			 input {
				 border-radius: 10px;
				 border: 1px solid black;
				 padding: 2px 10px;
				 width:100%;
				 transition: .3s ease-out;
				 &:hover {
					 background-color: black;
					 color: white;
				 }
			 }
		 }
	 }
 }
 
 .head-right {
	 text-align: right;
 }
 .login-status{
	margin-top: 5px;
 }
 .head-menu {
	 .menu {
		 margin-left: 20px;
		 border-radius: 15px;
		 height: 50px;
		 width: 60px;
		 background-color: rgba(255,255,255,.3);
		 transition: .3s ease-out;
		 position:relative;
		span {
			transition: all 0.3s ease-out;
			position: absolute;
			display: inline-block;
			border-radius: 2px;
			height: 5px;
			width: 35px;
			background-color: rgba(255,255,255,.5);
		}
		.top {
			top: 11px;
			left: 12px;
		}
		.middle {
			top: 23px;
			left: 12px;
		}
		.bottom {
			top: 35px;
			left: 12px;
		}
		&:hover{
			background-color: rgba(255,255,255,.5);
		   .top {
			   transform: translateY(24px);
		   }
		   .bottom {
			   transform: translateY(-24px);
		   }
		}
	}
	.open {
		.middle {
		  background: rgba(255, 255, 255, 0);
		}
		.top {
		  transform: rotate(405deg) !important;
		  top: 23px;
		  height:2px;
		}
		.bottom {
		  transform: rotate(-405deg) !important;
		  top: 23px;
		  height: 2px;
		}
	}
 }

// ＊＊＊＊＊ハンバーガーメニュー中身＊＊＊＊
.menu-box {
	z-index: 9;
	display: none;
	min-height: 100%;
	width: 100%;
	font-size: 2.5em;
	background-color: rgba(0,0,0,.6);
	position: fixed;
	margin-top:-20px;
	text-align: right;
	font-family: 'Hiragino Maru Gothic Pro';
	li {
		list-style: none;
		transition: .6s;
		&:hover {
			background: linear-gradient(90deg, rgba(0,0,0,0),rgba(255,255,255,.6));
			a {
				color: black;
				transform: translateX(-30px);
				font-size: 1.3em;
			}
		}
		a {
			color: white;
			transition: .6s;
			display: inline-block;
			 &:hover {
			 	color: black;
			 	text-decoration: none;
			 }
		}
	}
}



// ＊＊＊＊＊items＊＊＊＊＊
.item-box{
	text-align: center;
	border-radius: 20px;
	padding: 10px 0;
	transition: 1s;
	margin-bottom: 15px;
	color: black;
	&:hover{
		background-color: rgba(0,0,0,1);
		color: white;
	}
	.item-text{
		border-bottom:1px solid white;
	}
}
.image-box{
	background-color:white;
	display:inline-block;
	padding: 2px;
}
