<h3>商品検索</h3>
<%= search_form_for @search, url: manage_item_path do |f| %>
<div class="form-box">
    <%= f.search_field :album_or_artist_name_or_label_name_or_discs_songs_name_cont_any, class: "form-control pull-left", :style=>"width: 67%;", placeholder: "ユーザー名など" %>
    <%= f.submit '検索', class: "btn btn-default", :style=> "width:33%;" %>
</div>
<% end %>
