<div style="height:51px;margin-top:-20px;">
<%# flash[:notice]にメッセージが入っている場合のみ、メッセージを表示 %>
<% if flash[:notice] %>
  <div class="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<%# flash[:alert]にメッセージが入っている場合のみ、メッセージを表示 %>
<% if flash[:alert] %>
  <div class="alert red-color">
    <%= flash[:alert] %>
  </div>
<% end %>
</div>

<%# flash[:notice] 画面へとリダイレクトした際に、メッセージを表示
flash.now:その画面でメッセージを表示 %>